/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/pexels-felixmittermeier-956999.jpg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.136); /* Semi-transparent white background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #cfc8c8;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #7c7171;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    background: #00000078;
    color: white;
}

.input-group input:focus {
    border-color: #64fb0c;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #39FF14;
    border: none;
    border-radius: 5px;
    color: #292222;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #FFD700;
}

.extra-links {
    margin-top: 20px;
    text-align: center;
}

.extra-links a {
    color: #e5d411;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.extra-links a:hover {
    color: #1ed924;
    text-decoration: underline;
}